ons-page {
		animation: transitionIn 0.6s;

	}
	@keyframes transitionIn{
		from {
			opacity: 0;
			transform: translateX(-10%);

		}
		to {
			opacity: 1;
			transform: translateX(0);

		}
	}
	.Accel {
	transform: translate3d(0,0,0);
	}
.background{
  background: #F9F9F7;
}
#back_icon, #settings_icon{

	color: #fff !important;

}
ons-toolbar{
	border: none !important;
	background: #2187DB !important;

}
#back_button{
	background-color: #2187DB !important;
	border: none;

}
.checklist{
  color: #fff!important;
  padding: 20px;
  background:linear-gradient(to bottom right, #A3CEF1 0%, #4A9FE4 100%);
  box-shadow: 20px 20px 50px 10px #8888;
  border-radius: 20px;

}
.check-page{
  padding: 20px !important;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;

}
ons-button{
  background: #2187DB !important;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc
}

p{
  font-size: 18px !important;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
  transition: .75s;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;

}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

}
